<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Login</h1>
                <form [formGroup]="loginForm"  (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" formControlName="password">
                    </div>
                    <button type="submit" class="btn btn-info btn-lg btn-block mt-6">
                        Login
                    </button>
                </form>
                <div class="form-group mt-3">
                    <p>Create an account<a  [routerLink]="['/register']" routerLinkActive="router-link-active" > Register</a></p>
                </div>
                <div class="form-group mt-3">
                    <p>Forgot password?<a  [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" > Forgot</a></p>
                </div>
            </div>
        </div>
    </div>
</div>